#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  color: white;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
  padding: 10px 20px;
  text-align: center;
  z-index: 1000;
}

header h1 {
  margin: 0;
}

nav {
  display: flex;
  gap: 20px;
}
